<?xml version="1.0" ?>
<launch>
  <arg name="fixed_frame" default="base_link" />
  <param name="robot_description" command="$(find xacro)/xacro $(find robotont_description)/urdf/robotont_base.urdf.xacro"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find robotont_description)/config/robotont_description.rviz -f $(arg fixed_frame)"/>
</launch>
